@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
@font-face {
    font-family: american-typewritter;
    src: url('./asstes/google-font/american-typewritter/ufonts.com_american-typewriter-bold.ttf');
}
@font-face {
    font-family: poppins;
    src: url('./asstes/google-font/poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: poppins-bold;
    src: url('./asstes/google-font/poppins/Poppins-Bold.ttf');
}
/* header css start here */
    #hero-section{
        width: 100%;
        height: 825px;
        background-color: #fff;
        padding: 0 0;
    }
    #hero-section::before{
        content: '';
        display: block;
        width: 387px;
        height: 100%;
        background: linear-gradient(90deg, #51b5ef 6%, #456df7 100%);
    }
    #hero-section nav{
        height: 10px;
        position: absolute;
        top: 0px;
        left: 30px;
        right: 30px;
    }
    .open-nav{
        font-size: 28px;
        cursor: pointer;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .closebtn{
        color: white;
    }
    .closebtn:hover{
        color: #51b5ef;
    }
    .sidenav ul{
        margin: 100px 50px;
    }
    .sidenav ul li{
        margin: 20px 0px;
        list-style: none;
    }
    .sidenav ul li a{
        color: white;
        text-decoration: none;
        font-size: 22px;
        font-family: american-typewritter;
        letter-spacing: 2px;
    }
    .sidenav ul li a:hover{
        color: #51b5ef;
    }
    #hero-section .navbar{
        padding: 0;
        margin: 0;
    }
    #hero-section .navbar .navbar-brand{
        font-size: 22px;
        line-height: 76px;
        color: #fdfdfd;
        font-weight: bold;
        font-family: american-typewritter;
    } 
    .good-food{
        position: absolute;
        top: 100px;
        right: 35px;
    }
    #hero-section #overlay-div{
        width: 446px;
        height: 697px;
        border-radius: 22px;
        filter: drop-shadow(0 0 54.5px rgba(2,3,8,0.6));
        background-color: #ffffff;
        position: absolute;
        top: 75px;
        left: 200px;
    }
    .white-bg-div{
        position: absolute;
        top: 150px;
        right: 100px;
        width: 500px;
    }
    .white-bg-div h1{
        font-size: 89px;
        line-height: 76px;
        color: #252525;
        font-family: american-typewritter;
    }
    .white-bg-div p{
        width: 581px;
        height: 79px;
        font-size: 17px;
        line-height: 27px;
        font-family: poppins;
        color: #272727;
        font-weight: 400;
    }
    .white-bg-div a{
        text-decoration: none;
    }
    .contact{
        padding: 5px 10px;
        color: white;
        font-size: 17px;
        background-color: #51b5ef;
    }
    .order{
        color: white;
        padding: 5px 10px;
        font-size: 17px;
        background-color: #262626;
    }
    .contact:hover{
        color: #51b5ef;
        background-color: #262626;
    }
    .order:hover{
        color: #262626;
        background-color:  #51b5ef;
    }
    .span{
        width: 226px;
        height: 4px;
        background-color: #10e276;
        display: block;
        position: absolute;
        top: 185px;
        left: 500px;
    }
    .slide-card{
        padding-left: 20px;
        padding-top: 75px;
    }
    .slide-card span{
        line-height: 76px;
        color: #959494;
        font-weight: bold;
        font-family: american-typewritter;
        padding-top: 0px;
    }
    
    
/* header css end here */

/* 2 about container css start here */
    #about{
        width: 100%;
        height: 415px;
        position: relative;
        overflow: hidden;
        margin-top: 20px;
    }
    #about .about-info{
        position: relative;
        height: 330px;
    }
    #about .about-info .main-info{
        position: absolute;
        width: 300px;
        height: 300px;
        top: 55px;
        left: 260px;
    }
    .about-info .main-info h2{
        font-size: 40px;
        line-height: 39px;
        color: #272727;
        font-weight: 700;
        font-family: poppins-bold;
        position: relative;
    }
    .about-info .main-info h2::after{
        content: '';
        width: 226px;
        height: 4px;
        display: inline-block;
        background-color: #51b5ef;
        position: absolute;
        top: 55px;
        right: -100px;
    }
    .about-info .main-info p{
        font-size: 17px;
        line-height: 25px;
        color: #272727;
        font-weight: 400;
        font-family: poppins;
    }
    .about-info .main-info .read-more{
        padding: 5px 10px;
        font-size: 17px;
        line-height: 27px;
        color: #ffffff;
        text-decoration: none;
        background-color: #262626;
    }
    .about-info .main-info .read-more:hover{
        background-color: #51b5ef;
        color: #000;
    }
/* 2 about container css end here */

/* 3 food dish container css start here */
    #food-dish{
        width: 100%;
        height: 400px;
        padding-top: 20px;
        box-sizing: border-box;
    }
    #food-dish .food-dish-info-container h2{
        position: relative;
        color: #262626;
        font-size: 40px;
        line-height: 39px;
        font-family: poppins-bold;
        text-align: end;
    }
    #food-dish .food-dish-info-container h2::before{
        content: '';
        width: 226px;
        height: 4px;
        display: inline-block;
        background-color: #51b5ef;
        position: absolute;
        top: 55px;
        right: 140px;
    }
    #food-dish .food-dish-info-container p{
        font-size: 17px;
        line-height: 27px;
        color: #272727;
        font-weight: 400;
        font-family: poppins;
        text-align: end;
    }
    #food-dish .food-dish-info-container .see-more{
        text-decoration: none;
        font-family: poppins;
        font-size: 15px;
        line-height: 27px;
        color: #ffffff;
        background-color: #262626;
        padding: 5px 10px;
    }
    #food-dish .food-dish-info-container .see-more:hover{
        background-color: #51b5ef;
        color: #000;
    }
    #food-dish .dish-food-img-wrapper{
        width: 210px;
        height: 185px;
        display: inline-block;
        position: relative;
    }
    .food-dish-img-container .dish-food-img-wrapper img{
        position: absolute;
        top: 0;
        left: 0px;
        z-index: 2;
    }
    .food-dish-img-container .dish-food-img-wrapper .bg-grey-squre{
        width: 230px;
        height: 185px;
        background-color: rgba(190, 190, 190, .6);
        position: absolute;
        top: -10px;
        left: -10px;
        display: inline-block;
        z-index: 1;
    }
    .dish-food-img-wrapper:hover .bg-grey-squre{
        width: 230px;
        height: 185px;
        background-color: rgba(0, 0, 0, 1);
        position: absolute;
        top: -10px;
        left: -10px;
        }
   
/* 3 food dish container css end here */

/* 4 what's hot container css start here */
    #what-hot-section{
        position: relative;
        width: 100%;
        height: 680px;
        padding-top: 40px;
    }
    #what-hot-section .top-line{
        width: 100%;
        position: absolute;
        top: 110px;
        left: 0;
    }
    #what-hot-section .bottom-line{
        width: 100%;
        position: absolute;
        top: 550px;
        left: 0;
    }
    #what-hot-section h2{
        position: relative;
        font-size: 40px;
        line-height: 27px;
        color: #131313;
        font-family: poppins-bold;
    }
    #what-hot-section h2::before{
        content: '';
        width: 226px;
        height: 4px;
        display: inline-block;
        background-color: #51b5ef;
        position: absolute;
        top: 12px;
        left: 280px;
    }
    .menu-slide-card .menu-info h4{
        font-size: 29px;
        line-height: 27px;
        color: #0b0c0c;
        font-weight: 400;
        font-family: poppins;
    }
    .menu-slide-card .menu-info p{
        font-size: 17px;
        line-height: 30px;
        color: #272727;
        font-weight: 400;
        font-family: poppins;
    }
    .menu-info{
        text-align: center;
    }
    .menu-slide-card .menu-info .order-now{
        font-size: 16px;
        line-height: 30px;
        color: #ffffff;
        font-weight: 400;
        font-family: poppins;
        text-align: center;
        background-color: #252525;
        text-decoration: none;
        padding: 5px 10px;
    }
/* 4 what's hot container css end here */

/* 5 jumbotron container css start here */
    #jumbotron{
        width: 100%;
        height: 640px;
        background-image: url('./asstes/images/jumbotron-img/jumbotorn-bg.png');
        position: relative;
    }
    #jumbotron .men-jumbo-img{
        position: absolute;
        top: -110px;
        left: -70px;
    }
    #jumbotron .app-store{
        position: absolute;
        bottom: 260px;
        right: 545px;
    }
    #jumbotron .play-store{
        position: absolute;
        bottom: 260px;
        right: 370px;
    }
    #jumbotron h3{
        position: absolute;
        top: 120px;
        right: 160px;
        font-size: 42px;
        line-height: 30px;
        color: #ffffff;
        font-weight: 700;
        font-family: poppins-bold;
        text-align: center;
    }
    #jumbotron h4{
        position: absolute;
        top: 160px;
        right: 250px;
        font-size: 32px;
        line-height: 40px;
        color: #ffffff;
        font-weight: 700;
        font-family: Poppins-bold;
        text-align: center;
    }
    #jumbotron p{
        position: absolute;
        top: 220px;
        right: 40px;
        color: #ffffff;
        width: 640px;
    }
/* 5 jumbotron container css end here */


/* 6 testimonial container start here */
    #testimonial{
        width: 100%;
        height: 500px;
        padding-top: 40px;
    }
    #testimonial .responsive-3{
        width: 100%;
        height: 100%;
    }
    #testimonial h2{
        font-size: 40px;
        line-height: 30px;
        color: #181717;
        font-weight: 700;
        font-family: poppins-bold;
        text-align: end;
        position: relative;
    }
    #testimonial  h2::before{
        content: '';
        width: 226px;
        height: 4px;
        display: inline-block;
        background-color: #51b5ef;
        position: absolute;
        top: 12px;
        left: 300px;
    }
/* 6 testimonial container end here */

/* 7 contact container css start here */
    #contact{
        width: 100%;
        height: 400px;
        padding-top: 40px;
        overflow: hidden;
    }
    #contact h2{
        font-size: 40px;
        line-height: 35px;
        color: #454444;
        font-weight: 700;
        font-family: poppins-bold;
        text-align: center;
    }
    form input{
        width: 100%;
        border-bottom: 1px solid  lightgray;
        margin-bottom: 20px;
    }
    form input::placeholder{
        color: lightgray;
    }
    form input:focus{
        color: #252525;
        border-bottom: 1px solid  #252525;
    }
    form button{
        color: #51b5ef;
        background-color: transparent;
        padding: 5px 20px;
        margin-top: 20px;
        border: 1px solid #51b5ef;
        border-radius: 23px;
    }
    form button:hover{
        color: black;
        background-color: #51b5ef;
    }
    .contact-social-link li{
        margin: 15px 0;
    }
    .contact-social-link li a{
        text-decoration: none;
    }
    .contact-social-link li a i{
        font-size: 22px;
        color: #454444;
        padding: 10px;
        border: 1px solid #272727;
        
    }
    .contact-social-link li a span{
        font-size: 17px;
        line-height: 19px;
        margin-left: 10px;
    }
    .contact-social-link .location-span, .phone-span, .envolop-span{
        font-size: 17px;
        line-height: 29px;
        color: #454444;
        font-weight: 400;
        font-family: poppins;
        text-align: center;
    }
    
/* 7 contact container css end here */


/* 8 footer container start here */
    #footer .newsletter{
        width: 100%;
        height: 80px;
        background-color: #2E2D2D;
        position: relative;
    }
    #footer .newsletter h2{
        display: inline-block;
        position: absolute;
        top: 25px;
        left: 220px;
        font-size: 27px;
        line-height: 35px;
        color: #ffffff;
        font-weight: 700;
        font-family: poppins-bold;
        text-align: center;
    }
    #footer .newsletter input{
        width: 40%;
        height: 30px;
        color: lightgrey;
        background-color: transparent;
        border-bottom: 1px solid lightgrey;
        margin-left: 50px;
        position: absolute;
        top: 25px;
        left: 440px;
    }
    #footer .newsletter input::placeholder{
        padding-left: 15px;
    }
    #footer .newsletter a{
        font-size: 17px;
        line-height: 5px;
        color: #ffffff;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        position: absolute;
        top: 35px;
        right: 330px;
    }
    #footer .follow-on{
        width: 100%;
        height: 245px;
        color: white;
        background-color: #252525;
        text-align: center;
        padding-top: 30px;
    }
    #footer .follow-on h2{
        font-size: 30px;
        line-height: 23px;
        color: #a9a6a6;
        font-weight: 700;
        font-family: poppins;
        text-align: center;
    }
    #footer .follow-on ul{
        list-style: none;
        text-align: center;
        margin-left: -20px;
        margin-top: 40px;
    }
    #footer .follow-on ul li{
        margin-right: 15px;
        display: inline-block;
        padding: 7px;
        width: 39px;
        height: 39px;
        border-radius: 20px;
    }
    .fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-youtube{
        color: white;
    }
    #footer .follow-on ul .fb-bg{
        color: white;
        background-color: #096fa9;
    }
    #footer .follow-on ul .twitt-bg{
        color: white;
        background-color: #0c97a7;
    }
    #footer .follow-on ul .linkin-bg{
        color: white;
        background-color: #065380;
    }  
    #footer .follow-on ul .tube-bg{
        color: white;
        background-color: #bd3207;
    }   
    #footer .follow-on p{
        margin-top: 50px;
        font-size: 17px;
        line-height: 26px;
    }
/* 8 footer container end here */


/* media quries start here */
@media screen and (max-width:1326px) {
    
}
@media screen and (max-width:1280px) {
    /* hero container css start here */
    .white-bg-div{
        position: absolute;
        top: 150px;
        right: 200px;
        width: 300px;
    }
    .white-bg-div h1{
        font-size: 59px;
        line-height: 56px;
    }
    .white-bg-div p{
        width: 420px;
        height: 79px;
        font-size: 15px;
        line-height: 30px;
    /* slider container css sart here */
    }
    .contact{
        margin-top: 20px;
        display: inline-block;
        padding: 5px;
        color: white;
        background-color: #51b5ef;
    }
    .order{
        color: white;
        padding: 5px 10px;
        background-color: #262626;
    }
    /* hero container css end here */

    /* about container css start here */
     #about .about-info .main-info{
        position: absolute;
        top: 110px;
        left: 150px;
    }
    /* about container css start here */

    /* 6 tesimonial container css start here */
    #testimonial  h2::before{
        content: '';
        width: 226px;
        height: 4px;
        display: inline-block;
        background-color: #51b5ef;
        position: absolute;
        top: 12px;
        left: 240px;
    }
    /* 6 tesimonial container css start here */
}
@media screen and (max-width:1200px) {
    /* 6 tesimonial container css start here */
    #testimonial  h2::before{
        content: '';
        width: 226px;
        height: 4px;
        display: inline-block;
        background-color: #51b5ef;
        position: absolute;
        top: 12px;
        left: 120px;
    }
    /* 6 tesimonial container css start here */
}
@media screen and (max-width:1024px) {
    /* hero container css start here  */
    #hero-section{
        background: linear-gradient(90deg, #51b5ef 6%, #456df7 100%);
    }
    #hero-section::before{
        content: '';
        display: none;
    }
    #hero-section #overlay-div{
        position: absolute;
        top: 75px;
        left: 50%;
        transform: translateX(-50%);
    }
    .white-bg-div{
        position: absolute;
        top: 550px;
        left: 320px;
        width: 500px;
    }
    .white-bg-div h1{
        font-size: 32px;
        line-height: 26px;
    }
    .white-bg-div p{
        width: 370px;
        height: 79px;
        font-size: 14px;
        line-height: 25px;
    }
    .contact{
        margin-top: 0px;
        display: inline-block;
        padding: 5px;
        color: white;
        background-color: #51b5ef;
    }
    .order{
        color: white;
        padding: 6px;
        width: 207px;
        height: 56px;
        background-color: #262626;
    }
    .span{
        width: 300px;
        height: 4px;
        background-color: #10e276;
        display: block;
        position: absolute;
        top: 490px;
        left: 350px;
    }
    .slide-card{
        padding-top: 0px;
    }
    /* 1 hero container css end here  */

    /* 2 about container css start here */
    #about .about-info .main-info{
        position: absolute;
        top: 55px;
        left: 100px;
    }
    /* 2 about container css start here */

    /* 5 jumbotron container media quries start */
    #jumbotron{
        width: 100%;
        height: 640px;
    }
    #jumbotron .men-jumbo-img{
        position: absolute;
        top: -50px;
        left: -90px;
        width: 625px;
    }
    #jumbotron h3{
        font-size: 36px;
        position: absolute;
        top: 150px;
        right: 70px;
    }
    #jumbotron h4{
        font-size: 26px;
        position: absolute;
        top: 190px;
        right: 165px;
    }
    #jumbotron p{
        width: 400px;
        position: absolute;
        top: 250px;
        right: 110px;
    }
    #jumbotron .app-store{
        bottom: 220px;
        right: 370px;
    }
    #jumbotron .play-store{
        bottom: 220px;
        right: 200px;
    }
    /* 5  jumbotron container media qurie end here*/
}
@media screen and (max-width:992px) {
    /* 1 hero container css start here */
    #hero-section{
        background: linear-gradient(90deg, #51b5ef 6%, #456df7 100%);
    }
    #hero-section::before{
        display: none;
    }
    #hero-section #overlay-div{
        position: absolute;
        top: 75px;
        left: 50%;
        transform: translateX(-50%);
    }
    .white-bg-div{
        width: 550px;
        position: absolute;
        top: 520px;
        left: 290px;
        overflow: hidden;
    }
    .white-bg-div h1{
        font-size: 32px;
        line-height: 26px;
    }
    .white-bg-div p{
        width: 400px;
        height: 79px;
        font-size: 14px;
        line-height: 25px;
    }
    .contact{
        margin-top: 0px;
        display: inline-block;
        padding: 5px;
        color: white;
        background-color: #51b5ef;
    }
    .span{
        width: 300px;
        height: 4px;
        background-color: #10e276;
        display: block;
        position: absolute;
        top: 450px;
        left: 340px;
    }
    .slide-card{
        padding: 0;
    }
    /* 1 hero container css end here */

    /* 2 about container css start here */
    #about{
        width: 100%;
        height: 890px;
        margin-top: 20px;
    }
    #about .about-info .main-info{
        position: absolute;
        top: 0px;
        left: 100px;
    }
    .about-info .main-info h2::after{
        content: '';
        width: 140px;
        height: 4px;
        display: inline-block;
        background-color: #51b5ef;
        position: absolute;
        top: 55px;
        left: 150px;
    }
    /* 2 about container css start here */    

    /* 3 food dish container css start here */
    #food-dish{
        width: 100%;
        height: 650px;
        padding-top: 20px;
        box-sizing: border-box;
    }
    #food-dish .food-dish-info-container h2{
        margin-top: 15px;
        font-size: 38px;
    }
    #food-dish .food-dish-info-container h2::before{
        width: 200px;
        top: 57px;
        right: 100px;
    }
    /* 3 food dish container css start here */

    /* 6 testimonial container media qurie start here */
    #testimonial  h2{
        text-align: center;
        margin-bottom: 40px;
    }   
    #testimonial  h2::before{
        content: '';
        width: 370px;
        height: 4px;
        display: inline-block;
        background-color: #51b5ef;
        position: absolute;
        top: 37px;
        left: 250px;
    }
    /* 6 testimonial container media qurie end here */

    /* 7 contact container media qurie start here */
    .contact-social-link .location-span, .contact-social-link .phone-span, .contact-social-link .envolop-span{
        font-size: 14px;
        line-height: 29px;
        color: #454444;
        font-weight: 400;
        font-family: poppins;
        text-align: center;
    }
}
@media screen and (max-width:768px) {
    /* hero container css start here */
    #hero-section{
        background: linear-gradient(90deg, #51b5ef 6%, #456df7 100%);
    }
    #hero-section::before{
        display: none;
    }
    #hero-section #overlay-div{
        width: 350px;
        height: 600px;
        border-radius: 22px;
        filter: drop-shadow(0 0 54.5px rgba(2,3,8,0.6));
        background-color: #ffffff;
        position: absolute;
        top: 75px;
        left: 50%;
        transform: translateX(-50%);
    }
    .white-bg-div{
        position: absolute;
        top: 470px;
        left: 230px;
        width: 300px;
    }
    .white-bg-div h1{
        font-size: 26px;
        line-height: 26px;
    }
    .white-bg-div p{
        width: 320px;
        height: 79px;
        font-size: 14px;
        line-height: 25px;
    }
    .contact{
        margin-top: 20px;
        display: inline-block;
        padding: 5px;
        color: white;
        background-color: #51b5ef;
    }
    .span{
        width: 250px;
        height: 4px;
        background-color: #10e276;
        display: block;
        position: absolute;
        top: 440px;
        left: 260px;
    }
    .slide-card{
        padding-top: 0;
    }
    /* hero container css end here */

    /* 2 about container css start here */
    #about{
        height: 780px;
    }
    #about .about-info{
        position: relative;
        width: 100%;
        height: 255px;
        text-align: left;
        padding-left: 50px;
    }
    #about .about-info .main-info{
       position: static;
       width: 100%;
       height: 100%;
    }
    .about-info .main-info h2{
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 20px;
        text-align: left;
    }
    .about-info .main-info h2::after{
        content: '';
        width: 160px;
        height: 4px;
        display: inline-block;
        background-color: #51b5ef;
        position: absolute;
        top: 40px;
        left: 120px;
    }
    .about-info .main-info p{
        font-size: 17px;
        line-height: 32px;margin-bottom: 20px;
    }
    .about-info .main-info .read-more{
        display: inline-block;
        margin-top: 20px;
    }
    .about-img{
        margin: 0 auto;
    }
    /* 2 about container css end here */

    /* 3 food dish container css start here */
    #food-dish{
        width: 100%;
        height: 650px;
        padding-top: 20px;
        box-sizing: border-box;
    }
    /* 3 food dish container css end here */

    /* 5 jumbotron container media quries start */
        #jumbotron{
            width: 100%;
            height: 440px;
        }
        #jumbotron .men-jumbo-img{
            position: absolute;
            top: -50px;
            left: -90px;
            width: 400px;
        }
        #jumbotron h3{
            font-size: 32px;
            position: absolute;
            top: 50px;
            right: 70px;
        }
        #jumbotron h4{
            font-size: 26px;
            position: absolute;
            top: 90px;
            right: 115px;
        }
        #jumbotron p{
            width: 400px;
            position: absolute;
            top: 160px;
            right: 60px;
        }
        #jumbotron .app-store{
            bottom: 100px;
            right: 320px;
        }
        #jumbotron .play-store{
            bottom: 100px;
            right: 150px;
        }
    /* 5  jumbotron container media qurie end here*/

    /* 6 testimonial container media qurie start here */
    #testimonial{
        width: 100%;
        height: 450px;
    }
    #testimonial  h2{
        text-align: center;
        margin-bottom: 40px;
    }   
    #testimonial  h2::before{
        content: '';
        width: 370px;
        height: 4px;
        display: inline-block;
        background-color: #51b5ef;
        position: absolute;
        top: 37px;
        left: 240px;
    }
    /* 6 testimonial container media qurie end here */

    /* 8 footer container media qurie start here */
    #footer .newsletter h2{
        position: absolute;
        top: 25px;
        left: 10px;
    }
    #footer .newsletter input{
        width: 60%;
        height: 30px;
        position: absolute;
        top: 25px;
        left: 230px;
    }
    #footer .newsletter a{
        font-size: 17px;
        line-height: 5px;
        color: #ffffff;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;
     
        position: absolute;
        top: 35px;
        right: 330px;
    }
    #footer .newsletter a{
        font-size: 17px;
        line-height: 5px;
        color: #ffffff;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        position: absolute;
        top: 35px;
        right: 30px;
    }
    /* 8 footer container media qurie end here  */
}
@media screen and (max-width:576px) {
    #hero-section{
        background: linear-gradient(90deg, #51b5ef 6%, #456df7 100%);
    }
    #hero-section::before{
        display: none;
    }
    .good-food{
        display: none;
    }
    #hero-section #overlay-div{
        width: 350px;
        height: 600px;
        border-radius: 22px;
        filter: drop-shadow(0 0 54.5px rgba(2,3,8,0.6));
        background-color: #ffffff;
        position: absolute;
        top: 130px;
        left: 50%;
        transform: translate(-50%);
    }
    .white-bg-div{
        position: absolute;
        top: 520px;
        left: 130px;
        width: 300px;
    }
    .white-bg-div h1{
        font-size: 26px;
        line-height: 26px;
    }
    .white-bg-div p{
        width: 320px;
        height: 79px;
        font-size: 14px;
        line-height: 25px;
    }
    .contact{
        margin-top: 15px;
        display: inline-block;
        padding: 5px;
        color: white;
        background-color: #51b5ef;
    }
    .span{
        width: 250px;
        height: 4px;
        background-color: #10e276;
        display: block;
        position: absolute;
        top: 490px;
        left: 160px;
    }
    .slide-card{
        padding-top: 0;
        padding-left: 20px;
    }
/* hero container media qurie end here */

/* 2 about container media qurie start here */
    #about{
        height: 600px;
    }
    #about .about-info {
        height: 250px;
    }
    #about .about-info .main-info{
        width: 100%;
        height: 100%;
        text-align: center;
        margin-left: 0;
    }
    #about .about-info .main-info h2{
        text-align: center;
    }
    .about-info .main-info h2::after{
        content: '';
        width: 162px;
        height: 4px;
        display: inline-block;
        background-color: #51b5ef;
        position: absolute;
        top: 40px;
        left: 240px;
    }
/* 2 about container media qurie end here */

/* 3 food dish container media qurie start here*/
    #food-dish{
        width: 100%;
        height: 1100px;
        padding-top: 20px;
        box-sizing: border-box;
    }
    #food-dish .food-dish-info-container{
        padding: 30px 0;
        text-align: center;
    }
    #food-dish .food-dish-img-container{
        margin-top: 30px;
    }
    #food-dish .food-dish-info-container h2{
        font-size: 36px;
        text-align: center;
        margin: 10px 0;
    }
    #food-dish .food-dish-info-container h2::before{
        width: 200px;
        top: 40px;
        left: 210px;
    }
    #food-dish .food-dish-info-container p{
        text-align: center;
        margin: 10px 0;
    }
    #food-dish .food-dish-img-container img{
        width: 100%;
        margin: 10px 0;
    }
    .food-dish-img-container .dish-food-img-wrapper .bg-grey-squre{
        width: 230px;
        height: 187px;
        background-color: rgba(190, 190, 190, .6);
        position: absolute;
        top: 0px;
        left: -10px;
        display: inline-block;
        z-index: 1;
    }
    .dish-food-img-wrapper:hover .bg-grey-squre{
        width: 230px;
        height: 187px;
        background-color: rgba(0, 0, 0, 1);
        position: absolute;
        top: 0px;
        left: -10px;
    }
/* 3 food dish contaainer media qurie end here */

/* 4 what hot container css start here */
    #what-hot-section h2::before{
    width: 100px;
    top: 30px;
    left: 140px;
    }
/* 4 what hot continer css end here*/

    /* 5 jumbotron container media quries start */
    #jumbotron{
        width: 100%;
        height: 640px;
    }
    #jumbotron .men-jumbo-img{
        position: absolute;
        top: -50px;
        left: -50px;
        width: 300px;
    }
    #jumbotron h3{
        font-size: 28px;
        position: absolute;
        top: 20px;
        right: 10px;
    }
    #jumbotron h4{
        font-size: 26px;
        position: absolute;
        top: 60px;
        right: 5px;
    }
    #jumbotron p{
        width: 350px;
        position: absolute;
        top: 120px;
        right: 0px;
    }
    #jumbotron .app-store{
        top: 260px;
        right: 210px;
    }
    #jumbotron .play-store{
        top: 260px;
        right: 40px;
    }
    /* 5  jumbotron container media qurie end here*/

    /* 6 testimonial container media qurie start here */
     #testimonial  h2{
        font-size: 24px;
        line-height: 28px; 
        text-align: center;
        margin-bottom: 40px;
    }   
    #testimonial  h2::before{
        content: '';
        width: 100px;
        height: 4px;
        display: inline-block;
        background-color: #51b5ef;
        position: absolute;
        top: 60px;
        left: 100px;
    }
    #testimonial p{
        font-size: 15px;
        margin-top: 10px;
        margin-left: 15px;
    }
    /* 6 testimonial container media qurie end here */

    /* 8 footer container media qurie start here */
    #footer .newsletter h2{
        position: absolute;
        top: 25px;
        left: 10px;
    }
    #footer .newsletter input{
        width: 47%;
        height: 30px;
        position: absolute;
        top: 25px;
        left: 230px;
    }
    #footer .newsletter a{
        font-size: 17px;
        line-height: 5px;
        color: #ffffff;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;
     
        position: absolute;
        top: 35px;
        right: 330px;
    }
    #footer .newsletter a{
        font-size: 17px;
        line-height: 5px;
        color: #ffffff;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        position: absolute;
        top: 35px;
        right: 30px;
    }
    /* 8 footer container media qurie end here  */
}
@media screen and (max-width:420px) {
    /* 1 hero section media qurie end here */
    #hero-section{
        background: linear-gradient(90deg, #51b5ef 6%, #456df7 100%);
        overflow: hidden;
    }
    #hero-section::before{
        display: none;
    }
    .open-nav{
        position: absolute;
        top: 20px;
        right: 0px;
    }
    .good-food{
      display: none;
    }
    #hero-section #overlay-div{
        width: 300px;
        height: 600px;
        border-radius: 22px;
        filter: drop-shadow(0 0 54.5px rgba(2,3,8,0.6));
        background-color: #ffffff;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
    }
    .white-bg-div{
        position: absolute;
        top: 450px;
        left: 30px;
        width: 250px;
    }
    .white-bg-div h1{
        font-size: 24px;
        line-height: 26px;
    }
    .white-bg-div p{
        width: 270px;
        height: 79px;
        font-size: 14px;
        line-height: 25px;
    }
    .contact{
        margin-top: 45px;
        display: inline-block;
        padding: 5px;
        color: white;
        background-color: #51b5ef;
    }
    .span{
        width: 200px;
        height: 4px;
        background-color: #10e276;
        display: block;
        position: absolute;
        top: 430px;
        left: 60px;
    }
    .slide-card{
        padding-top: 0;
    }
    /* 1 hero section media qurie end here */

    /* 2 about container media qurie start here */
    #about{
        width: 100%;
        height: 455px;
    }
    #about .about-info .main-info{
        position: absolute;
        width: 100%;
        height: 220px;
        top: 5px;
        left: 0px;   
    }
    #about .about-img{
        margin-top: 40px;
    }
    .about-info .main-info h2{
        font-size: 28px;
        line-height: 28px;
        margin: 15px 0;
    }
    .about-info .main-info p{
        font-size: 15px;
    }
    .about-info .main-info h2::after{
        content: '';
        width: 137px;
        height: 4px;
        display: inline-block;
        background-color: #51b5ef;
        position: absolute;
        top: 30px;
        left: 155px;
    }
    /* 2 about container media qurie start here */

    /* 3 food dish container media qurie start here */
    #food-dish{
        width: 100%;
        height: 1150px;
    }
    #food-dish .food-dish-info-container h2::before{
        content: '';
        width: 210px;
        height: 4px;
        display: inline-block;
        background-color: #51b5ef;
        position: absolute;
        top: 40px;
        left: 100px;
    }
    #food-dish .food-dish-info-container p{
        font-size: 15px;
        line-height: 25px;
        text-align:center;
    }
    #food-dish .food-dish-img-container img{
        width: 100%;
        margin: 10px 0;
    }
    /* 3 food dish container media qurie end here */

    /* 4 what hot container media qurie start here */
    #what-hot-section{
        position: relative;
        width: 100%;
        height: 610px;
        padding-top: 40px;
    }
    #what-hot-section h2{
        font-size: 36px;
        margin-bottom: 15px;
    }
    #what-hot-section h2::before{
        width: 95px;
        top: 30px;
        left: 140px;
    }
    #what-hot-section p{
        font-size: 15px;
        margin-bottom: 20px;
    }
    #what-hot-section .top-line{
        top: 145px;
    }
    #what-hot-section .bottom-line{
        top: 580px;
    }
    /* 4 what hot container media qurie end here */

    /* 5 jumbotron container media qurie start here */
    #jumbotron{
        height: 700px;
    }
    #jumbotron .men-jumbo-img{
        position: absolute;
        top: 0px;
        left: 0px;
    }
    #jumbotron .app-store{
        top: 640px;
        left: 10px;
    }
    #jumbotron .play-store{
        top: 640px;
        right: 10px;
    }
    #jumbotron h3{
        font-size: 28px;
        position: static;
        padding-top: 350px;
    }
    #jumbotron h4{
        font-size: 28px;
        position: static;
    }
    #jumbotron p{
        width: 290px;
        position: static;
    }
    /* 5 jumbotron container media qurie start here */

    /* 6 testimonial container media qurie start here */
    #testimonial  h2{
        font-size: 24px;
        line-height: 28px; 
        text-align: center;
        margin-bottom: 40px;
    }   
    #testimonial  h2::before{
        content: '';
        width: 100px;
        height: 4px;
        display: inline-block;
        background-color: #51b5ef;
        position: absolute;
        top: 60px;
        left: 100px;
    }
    #testimonial p{
        font-size: 15px;
        margin-top: 10px;
        margin-left: 15px;
    }
    /* 6 testimonial container media qurie end here */

    /* 7 contact container start here */

    /* 7 contact container end here */

     /* 8 footer container media qurie start here */
     #contact{
        width: 100%;
        height: 520px;
        padding-top: 40px;
        overflow: hidden;
    }
    #contact .contact-social-link {
        margin-top: 15px;
    }
    form button{
        margin-top: 0px;
    }
    #footer .newsletter h2{
         font-size: 22px;
        position: absolute;
        top: 5px;
        left: 60px;
    }
    #footer .newsletter input{
        width: 95%;
        height: 30px;
        position: absolute;
        top: 40px;
        left: -40px;
    }
    #footer .newsletter a{
        font-size: 15px;
        line-height: 5px;
        color: #ffffff;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;
        position: absolute;
        top: 50px;
        right: 10px;
    }
    
    /* 8 footer container media qurie end here  */
}

/* media quries end here */